/* COLOR SCHEME */
$red: rgb(218,40,56);
$pants: rgb(153,140,133);
$blue: rgb(4,166,188);
$brown: rgb(209,188,170);
$transblue: rgba(4, 166, 188, 0.8);
$transbeige: rgba(249, 242, 231, 0.8);
$midnight: #2c3e50;
$white: #fff;
$beige: #F9F2E7;

/* HELPERS */
.cf:before,
.cf:after {
    content: " "; 
    display: table;
}
.cf:after {
    clear: both;
}

* {
	box-sizing: border-box;
}

@mixin transition($time: 0.2s, $what: all, $how: ease-in) {
	transition: $what $time $how;
}

/* GENERAL STYLING */
body {
	font-family: "Roboto", "Helvetica Neue", sans-serif;
	background-color: #FAFAFA;
}
.background img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 97vh;
	z-index: -1;
}

.section-heading {
	text-align: center;
	font-weight: 300;
	text-transform: uppercase;
	padding: 1em 0;
}

/* HEADER */
.logo {
	text-align: center;
	padding: 1em;
	margin: 2.5em auto;
	width: 100%;
	background-color: rgba(220,220,220,0.4);

	h1 {
		font-weight: 100;
		font-size: 4.5em;
		margin: 0;
		padding: 0;
		letter-spacing: 20px;
	}

	h2 {
		font-weight: 700;
		text-transform: uppercase;
		font-size: 1.4em;
		letter-spacing: 7px;
	}
}

.heading {
	padding-top: 5em;
	padding-bottom: 8em;

	.cta {
		float: right;
		width: 45%;
	}

	.infobox {
		background-color: desaturate($transblue, 35%);
		padding: 1em 100px 1em 1em;
		font-size: 1.2em;
		border-bottom: 3px solid desaturate(darken($transblue, 10%), 20%);
		margin: 0;
		color: $white;
	}

	.free-quote {
		margin-top: 14px;
		text-align: right;
		font-size: 1.2em;
		text-transform: uppercase;
		font-style: italic;
		font-weight: 100;

		a {
			color: $white;
			padding: 14px 170px 14px 25px;
			text-align: right;
			background-color: desaturate(darken($transbeige, 35%), 0%);
			@include transition(0.1s);

			&:hover {
				background-color: desaturate(darken($transbeige, 40%), 0%);
				text-decoration: none;
				padding-left: 40px;
				padding-right: 190px;
				@include transition(0.2s, all, ease-in);
			}
		}
	}
}

/* SECTIONS */

/*** process ***/
.process {
	padding-bottom: 5em;
	background-color: $beige;
	border-top: 4px solid $brown;
}
.explanation:nth-child(odd){
	text-align: right;
}
.explanation:nth-child(even){
	text-align: left;
	margin-left: -50px;
}
.hexandtext {
	margin-left: -30px;
}
/*** work ***/
.work {
	text-align: center;
	background-color: $midnight;
	color: $white;

	img.portfolio {
		width: 100%;
		height: auto;
		border: 2px solid #fff;
		-webkit-filter: saturate(15%);
		@include transition();

		&:hover {
			-webkit-filter: saturate(110%);
			@include transition();
		}
	}

	.work-title {
		text-transform: uppercase;
		font-weight: 100;
		font-size: 2.4em;
		letter-spacing: 7px;
	}

	a.btn {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		display: block;
		margin: 1em auto 3em;
		padding: 10px;
		width: 100px;
		text-transform: uppercase;
		font-weight: 300;
		background-color: $blue;
		border: none;

		&:hover {
			background-color: darken($blue, 5%);
		}
	}
}

/*** about ***/

/*** contact ***/
.contact {
	background-color: $beige;
	border-top: 4px solid $brown;
	padding-bottom: 3em;

	.info {
		padding-top: 1em;
		font-size: 1.3em;
	}
}

/* HEXAGON */
.hexcontainer {
	padding: 2em 0;
}

$hexwidth: 150px;

.hexagon {
	position: relative;
	text-align: center;
	display: block;
	width: $hexwidth;
	height: $hexwidth * 0.577333333;
	background-color: $red;

	&:before, &:after {
		content: "";
  		position: absolute;
		width: 0;
		border-left: ($hexwidth / 2) solid transparent;
		border-right: ($hexwidth / 2) solid transparent;
	}

	&:before {
		bottom: 100%;
		border-bottom: ($hexwidth * 0.577333333 / 2) solid $red;
	}

	&:after {
		top: 100%;
		width: 0;
		border-top: ($hexwidth * 0.577333333 / 2) solid $red;
	}

	.fa {
		font-size: 4em;
		padding-top: 15px;
		color: white;
	}
}

a.hexagon {
	@include transition(0.2s, margin-left);
}

a.hexagon:hover, a.hexagon:hover, a.hexagon:hover {
	background-color: darken($red, 15%);
	margin-left: 15px;
	@include transition(0.2s, margin-left);

	&:before {
		border-bottom-color: darken($red, 15%);
	}

	&:after {
		border-top-color: darken($red, 15%);
	}
}

/* WORK SECTION */
.work {
	text-align: center;
}

.work img.portfolio {
	width: 100%;
	height: auto;
}

/* ABOUT SECTION */
.team img {
	height: 300px;
	width: auto;
	overflow: hidden;
}