/* COLOR SCHEME */
/* HELPERS */
.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

/* GENERAL STYLING */
body {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  background-color: #FAFAFA; }

.background img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 97vh;
  z-index: -1; }

.section-heading {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  padding: 1em 0; }

/* HEADER */
.logo {
  text-align: center;
  padding: 1em;
  margin: 2.5em auto;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.08); }
  .logo h1 {
    font-weight: 100;
    font-size: 4.5em;
    margin: 0;
    padding: 0;
    letter-spacing: 20px; }
  .logo h2 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.4em;
    letter-spacing: 7px; }

.heading {
  padding-bottom: 2em; }
  .heading .cta {
    float: right;
    width: 45%; }
  .heading .infobox {
    background-color: rgba(38, 140, 154, 0.8);
    padding: 1em 100px 1em 1em;
    font-size: 1.2em;
    border-bottom: 3px solid rgba(17, 111, 124, 0.8);
    margin: 0;
    color: white; }
  .heading .free-quote {
    margin-top: 14px;
    text-align: right;
    font-size: 1.2em;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 100; }
    .heading .free-quote a {
      color: white;
      padding: 14px 170px 14px 25px;
      text-align: right;
      background-color: rgba(213, 165, 88, 0.8);
      transition: all 0.1s ease-in; }
      .heading .free-quote a:hover {
        background-color: rgba(208, 154, 68, 0.8);
        text-decoration: none;
        padding-left: 40px;
        padding-right: 190px;
        transition: all 0.2s ease-in; }

.process {
  background-color: #f9f2e7;
  border-top: 4px solid #d1bcaa; }

/* HEXAGON */
.hexcontainer {
  padding: 2em 0; }

.hexagon {
  position: relative;
  text-align: center;
  display: block;
  width: 150px;
  height: 86.6px;
  background-color: #da2838; }
  .hexagon:before, .hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent; }
  .hexagon:before {
    bottom: 100%;
    border-bottom: 43.3px solid #da2838; }
  .hexagon:after {
    top: 100%;
    width: 0;
    border-top: 43.3px solid #da2838; }
  .hexagon .fa {
    font-size: 4em;
    padding-top: 15px;
    color: white; }

a.hexagon {
  transition: margin-left 0.2s ease-in; }

a.hexagon:hover, a.hexagon:hover, a.hexagon:hover {
  background-color: #9b1b26;
  margin-left: 15px;
  transition: margin-left 0.2s ease-in; }
  a.hexagon:hover:before, a.hexagon:hover:before, a.hexagon:hover:before {
    border-bottom-color: #9b1b26; }
  a.hexagon:hover:after, a.hexagon:hover:after, a.hexagon:hover:after {
    border-top-color: #9b1b26; }

/* WORK SECTION */
.work {
  text-align: center; }

.work img.portfolio {
  width: 100%;
  height: auto; }

/* ABOUT SECTION */
.team img {
  height: 300px;
  width: auto;
  overflow: hidden; }
